
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>

                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="embassys"  [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']"  [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Embassy Document</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Company Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Branch <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Registration No <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Document TypeId<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Document Type Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Remarks <p-sortIcon field="name"></p-sortIcon></th>
                       <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-embassy>
                    <tr>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">companyId</span>
                            {{ embassy.companyId }}
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">branchId</span>
                            {{embassy.branchId}}

                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">registrationId</span>
                            {{ embassy.registrationId }}
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">documentTypeId</span>
                            {{embassy.documentTypeId}}

                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">documentTypeName</span>
                            {{ embassy.documentTypeName }}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">remarks</span>
                            {{ embassy.remarks }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmbassy(embassy)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmbassy(embassy)"></button>
                            </div>
                        </td>
                    </tr>

                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="embassyDialog" [style]="{width: '550px'}" header="Embassy Document Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="col-12">
                    
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="companyId">Company Name</label>
                                <input pInputText id="companyId" type="text"name="companyId"   [(ngModel)]="embassy.companyId" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !embassy.companyId}" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="branchId">Branch</label>
                                <input pInputText id="branchId" type="text"name="branchId"   [(ngModel)]="embassy.branchId" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !embassy.branchId}" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="registrationId">Registration No</label>
                                <input pInputText id="registrationId" type="text"name="registrationId"   [(ngModel)]="embassy.registrationId" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !embassy.registrationId}" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="documentTypeId">Document TypeId</label>
                                <input pInputText id="documentTypeId" type="text"name="documentTypeId"   [(ngModel)]="embassy.documentTypeId" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !embassy.documentTypeId}" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="documentTypeName">Document Type Name</label>
                                <input pInputText id="documentTypeName" type="text" name="documentTypeName"   [(ngModel)]="embassy.documentTypeName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !embassy.documentTypeName}"/>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="remarks">Remarks</label>
                                <input pInputText id="remarks" type="text"name="remarks"   [(ngModel)]="embassy.remarks" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !embassy.remarks}" />
                            </div>
                            
                    </div> 
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addOrUpdateEmbassy()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEmbassyDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="embassy">Are you sure you want to delete <b>{{embassy.documentTypeName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"  (click)="deleteEmbassyDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
