<div class="card" [formGroup]="productform">
    <p-toast></p-toast>
    <div>
        <button pButton styleClass="p-button-sm" pRipple label="Back" icon="pi pi-plus" class="p-button-success mr-2 p-button-sm" [routerLink]="['/job-assign/list']"></button>
        <br>
        <br>
        
    </div>
    
        
            <div class="card"> 
                <h5>Master</h5>
                <div class="col-12">
                    <div class="p-fluid p-formgrid grid">
                        <input type="hidden" aria-label="First name" class="form-control" formControlName="id">
                        <div class="field col-4">
                            <label htmlFor="assignToId">Assign To Staff<span class="text-danger"> *</span></label>
                            <p-dropdown formControlName="assignToId" inputId="dropdown" [autoDisplayFirst]="false" [(ngModel)]="jobAssign.assignToId" [options]="staffNames"  optionValue="code" optionLabel="name" class="ng-dirty" placeholder="Select"></p-dropdown>
                            <!-- <small class="ng-dirty ng-invalid text-danger" *ngIf="submitted && !jobAssign.registrationId">Student Name is required.</small> -->

                            
                        </div>
                       
                        <div class="field col-4">
                            <label htmlFor="issueDate">Issue Date <span class="text-danger">*</span></label>
                            <!-- <input [disabled]="dateDisable" type="text"  pInputText  formControlName="issueDate"  [(ngModel)]="jobAssign.issueDate" class="ng-dirty"> -->
                            
                            <!-- <p-calendar  [(ngModel)]="jobAssign.issueDate" dateFormat="dd-mm-yy" formControlName="issueDate"  class="ng-dirty"></p-calendar> -->
                            <input pInputText  [(ngModel)]="jobAssign.issueDate" type="date" formControlName="issueDate"  class="ng-dirty">
                            <!-- <small class="ng-dirty ng-invalid text-danger" *ngIf="submitted && !jobAssign.issueDate">Issue Date is required.</small> -->
                        </div>
                        <div class="field col-4">
                            <!-- <label htmlFor="ticketNo">Ticket No <span class="text-danger">*</span></label>
                            <input type="text" pInputText  formControlName="ticketNo" [(ngModel)]="jobAssign.ticketNo" class="ng-dirty">
                            
                            <small class="ng-dirty ng-invalid text-danger" *ngIf="submitted && !jobAssign.ticketNo">Ticket No is required.</small> -->

                        </div>
                        
                        <h5> Details </h5>
                           
                            <div class="col-12">
                               
                                    <ng-container >
                                        <div class="grid formgrid">
                                                <div class="field col-4">
                                                    <label class="ml-1">Student Name <span class="text-danger">*</span></label>
                                                </div>

                                                <div class="field col-3">
                                                    <label class="ml-1">Councilor Name <span class="text-danger">*</span></label>
                                                </div>
                                                <!-- <div class="field col-2">
                                                    <label class="ml-1">Issue From Date <span class="text-danger">*</span></label>
                                                </div> -->
                                               
                                                <!-- <div class="field col-2">
                                                    <label class="ml-1">Issue To Date <span class="text-danger">*</span></label>
                                                </div> -->

                                                <div class="field col-3">
                                                    <label class="ml-1">Next Followup Date <span class="text-danger">*</span></label>
                                                </div>

                                                <!-- <div class="field col-2">
                                                    <label class="ml-1">Preference Country<span class="text-danger">*</span></label>
                                                </div>

                                                <div class="field col-2">
                                                    <label class="ml-1">Counsilor Remarks</label>
                                                </div> -->
                                                
                                        </div>
                                    </ng-container>
                                
                                <ng-container formGroupName="assignJobDetails">
                                    <ng-container *ngFor="let itemGroup of assignJobDetails.controls; let i = index; let lst= last; let fst=first;" [formGroupName]="i">
                                        <div class="grid formgrid" >
                                            <input type="hidden" aria-label="First name" class="form-control" formControlName="id">
                                            <input type="hidden" aria-label="First name" class="form-control" formControlName="assignJobMasterId">                                          
                                            <div class="field col-4">
                                                
                                                <p-dropdown formControlName="visitorId" inputId="dropdown" [autoDisplayFirst]="false" [virtualScroll]="true" [virtualScrollItemSize]="38" [options]="allVisitors" optionValue="code" optionLabel="name" class="ng-dirty" placeholder="Select" class="ng-dirty"></p-dropdown>
                                                
                                            </div>

                                            <div class="field col-3">
                                                
                                                <p-dropdown formControlName="councilorId" inputId="dropdown" [autoDisplayFirst]="false" [options]="counciorNames" optionValue="code" optionLabel="name" class="ng-dirty" placeholder="Select" class="ng-dirty"></p-dropdown>
                                            </div>
                                         
                                        
                                            <div class="field col-3">
                                                <input pInputText type="date"  formControlName="nextFollowupDate" class="ng-dirty">
                                               
                                            </div>

                                            <div class="field col-4">
                                                <textarea placeholder="Preference Country" pInputTextarea formControlName="preferenceCountry"></textarea>
                                            </div>
                                            

                                            <div class="field col-4">
                                                <textarea placeholder="Councilor Remarks" pInputTextarea formControlName="councilorRemarks"></textarea>
                                            </div>

                                            




                                         
                                            <div class="field col-12 md:col-1">
                                                
                                                <button  *ngIf="lst" (click)="addDetailsItem()"  type="button" icon="pi pi-plus" class="btn btn-primary"> + </button>
                                                <button *ngIf="!lst" (click)="removeAtDetails(i)" type="button" icon="pi pi-trash" class="btn btn-danger mr-2"> - </button>
                                            </div>
                
                
                                        </div>
                                    </ng-container>
                                </ng-container>
                              
                            </div>
                        
                      
                    </div>
                
                </div>
                <div class="content-section implementation mt-5" >
                    <p-button [disabled]="!productform.valid" label="Submit" icon="pi pi-check" iconPos="right" class="mx-1 p-button-sm" (click)="addOrUpdateDetails()"></p-button>
                    <p-button label="Cancel" icon="pi pi-check" iconPos="right" class="mx-1 p-button-sm" [routerLink]="['/job-assign/list']"></p-button>
               </div>
            </div>
</div>
